<div>
<mat-form-field >
  <input [(ngModel)] = 'email' name = 'email' matInput placeholder="Email">
  <mat-hint>Please enter your email</mat-hint>
</mat-form-field>
</div>
<div>
<mat-form-field >
  <input [(ngModel)] = 'password' name = 'password' matInput placeholder="Password">
  <mat-hint>Please enter your Password</mat-hint>
</mat-form-field>
</div>

<button mat-raised-button (click)= "login()">login</button>
