<div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = 'text' matInput placeholder="Add todo">
      <mat-hint>Todo iitem</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)= "addTodo()">Add </button>
  </div>
<div>
  <ul>
    <todo *ngFor="let todo of todos" 
          [data]= "todo"
          (myButtonClicked)= "showText($event)"></todo>
  </ul>
</div>

<div>
  this is the text: {{todoTextFromTodo}}
</div>
