<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
  {{text}} {{id}}<button mat-raised-button 
                    (click) = "delete()"
                    *ngIf="showTheButton"
                    >Delete</button>
                    
</li>
